.pip-selfcheck.json
.DS_Store
.installed.cfg
.mr.developer.cfg
bin
develop-eggs
parts
!src
var
*.egg
*.egg-info
*.pyc
*$py.class
*.pt.py
*.txt.py
*.db
*.fs
*.fs.*
*.log
*.project
*.settings
*.pydevproject
passwd
data
dist
docs/_build
*.mo
contributor_data/
include/
lib/
local/
build
cache
.codeintel
contributions.cfg
htmlcov
share/
.launchpadlib/