[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg

parts += omelette
         update_contributions
         themepreview
         code-analysis

plone-series = 4.3
package-name = ploneorg.core
package-extras = [test]
versions = versions

extensions = mr.developer

eggs += plone.reload
        ploneorg.core
        Py-StackExchange
        plone.app.widgets[dexterity]

auto-checkout += ploneorg.theme
                 plone.themepreview
                 plone.app.users
                 Py-StackExchange
#                 plone.app.widgets

[sources]
ploneorg.theme = git git://github.com/plone/ploneorg.theme.git pushurl=git@github.com:plone/ploneorg.theme.git
plone.themepreview = git https://github.com/plone/plone.themepreview egg=false
plone.app.users = git git://github.com/plone/plone.app.users.git pushurl=git@github.com:plone/plone.app.users.git
Py-StackExchange = git git://github.com/lucjon/Py-StackExchange.git branch=updating-2.0

# plone.app.widgets = git git://github.com/plone/plone.app.widgets.git pushurl=git@github.com:plone/plone.app.widgets.git
# mockup = git git://github.com/plone/mockup.git pushurl=git@github.com:plone/mockup.git

[versions]
zc.buildout = 2.2.1
setuptools = 3.3

# Add plone.app.contenttypes
plone.dexterity = 2.2.1
plone.app.contenttypes = 1.1b1
plone.app.event = 1.1b1
plone.app.collection = 2.0b5
plone.app.portlets = 2.5a1

# Needed for p.a.c and p.a.e
plone.app.querystring = 1.1.1
plone.app.jquery = 1.8.3
plone.app.vocabularies = 2.1.13

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
       ${test:eggs}

[update_contributions]
recipe = zc.recipe.egg:scripts
eggs = ploneorg.core

[themepreview]
recipe = zc.recipe.egg
eggs =
    ${buildout:eggs}
    ${test:eggs}
    Sphinx
    sphinx-rtd-theme
    plone.app.robotframework
    sphinxcontrib-robotframework [docs]
scripts =
    sphinx-build

# Usage:
#
# ROBOT_CONFIGURE_PACKAGES=plone.app.widgets,ploneorg.core ROBOT_APPLY_PROFILES=ploneorg.core:default ROBOT_INSTALL_PRODUCTS=Products.DateRecurringIndex bin/sphinx-build src/plone.themepreview/source build

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/ploneorg
utf8-header = True
prefer-single-quotes=True
imports = True
debug-statements = True
deprecated-aliases = True
zptlint = True

[versions]
robotframework = 2.8.4
robotsuite = 1.4.3
plone.app.robotframework = 0.7.5
selenium = 2.39.0
robotframework-selenium2library = 1.5.0
